---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Prices from '~/components/widgets/Pricing.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import BgImagewithText from '~/components/common/BgImagewithText.astro';

const metadata = {
   title: 'ofrece-misas',
 };
---

 <!--- ref: 
https://donar.ayudaalaiglesianecesitada.org/
https://www.ayudaalaiglesianecesitada.org/herencias-y-legados
--> 
  <Layout metadata={metadata}>

<Prices
title="OFRECE UNA MISA"
subtitle="Celebra una Misa en acción de gracias o para interceder por tus seres queridos, apoyando a las misiones evangélicas, con tu aporte destinado íntegramente al sacerdote celebrante."
prices={[
  {
    title: 'Ordinaria',
    subtitle: 'Celebración de una Misa por una intención particular o de un ser querido',
    price: 10,
    period: 'por una intención particular',
    callToAction: {
      target: '_blank',
      text: 'Solicitar Misa',
      href: '#',
    },
  },
  {
    title: 'Novenaria',
    subtitle: 'Celebración de 9 Misas seguidas por una intención particular o por el alma de un difunto',
    price: 90,
    period: 'por una intención particular',
    callToAction: {
      target: '_blank',
      text: 'Solicitar Misa',
      href: '#',
    },
    hasRibbon: true,
    ribbonTitle: 'popular',
  },
  {
    title: 'Gegoriana',
    subtitle: 'Celebración de 30 Misas seguidas por el eterno descanso de un difunto',
    price: 300,
    period: 'por una intención particular',
    callToAction: {
      target: '_blank',
      text: 'Solicitar Misa',
      href: '#',
    },
  },
]}
/>


<Content
isReversed
items={[
  {
    title:"La Santa Misa tiene un valor infinito, ¿por quién la quieres ofrecer?",
    description: 
"<p>¡Hay tantos motivos por los que pedir y tantos por los que dar gracias! Puedes ofrecer Misas por tus difuntos, por las almas del purgatorio, por la curación de tus enfermos, por aniversarios y cumpleaños, por celebraciones (bautizo, comunión, confirmación), por los matrimonios en crisis, por la situación laboral de familiares y amigos, por los exámenes de tus hijos, por la conversión a la fe de los nuestros, por las vocaciones y la santidad de los sacerdotes. \n\n </p> <p>Por nuestra Iglesia, por los cristianos perseguidos, por la paz en el mundo… La celebración de la Eucaristía es la mayor obra de misericordia espiritual, el regalo más valioso que puedes hacer a los demás.</p> ",
    callToAction: {
      target: '_blank',
      text: 'OFRECE UNA MISA POR TUS INTENCIONES »',
      href: '#',
      icon: 'tabler:phone',
    }
  },
]}
image={{
  src: '~/assets/images/misa02.jpeg',
  alt: 'Colorful Image',
  loading: 'eager',
}}
/> 

<Content
isAfterContent
items={[
  {
    title:"Con una Misa ayudas a un sacerdote y a su comunidad",
    description:"Las Misas que solicitas a través de Ayuda a la Iglesia Necesitada, las celebran sacerdotes sin recursos en países de guerra, escasez, discriminación o persecución religiosa. ¿Imaginas que en la selva del Amazonas, en el altiplano boliviano, en plena guerra de Ucrania o en Tierra Santa, un sacerdote celebre una Santa Misa por tus intenciones o las de los tuyos?  ¡Tú puedes hacerlo posible! /n El donativo o estipendio de Misa que haces cuando encargas la celebración de una Eucaristía se convierte en auténtica ayuda de emergencia para el sacerdote en cuestión. /n Solo con tu ayuda miles de sacerdotes podrán disponer de los recursos mínimos (alimento, vivienda, asistencia médica y medicinas)  para sobrevivir y seguir siendo el sustento físico y espiritual de su comunidad. En ocasiones también destinan los estipendios a obras de caridad con sus feligreses, actividades pastorales y gastos en su parroquia.",
    callToAction: {
      target: '_blank',
      text: 'SOLICITA UNA MISA AHORA »',
      href: '#',
      icon: 'tabler:phone',
    }
  },
]}
image={{
  src: '~/assets/images/misa05.jpg',
  alt: 'Colorful Image',
  loading: '',
}}
/> 


<Content
isReversed
items={[
  {
    title:"Un Bien para toda la Iglesia",
    description: 
"<p>Tu estipendio de Misa es un bien inmenso para toda la Iglesia universal pues gracias a ti, el cristianismo permanece en aquellos lugares donde no tiene recursos, o donde es minoría y corre peligro de desaparecer. Cada Misa que pides es luz en la oscuridad para muchos.</p> ",
    callToAction: {
      target: '_blank',
      text: 'OFRECE UNA MISA »',
      href: '#',
      icon: 'tabler:phone',
    }
  },
]}
image={{
  src: '~/assets/images/misa04.jpeg',
  alt: 'Colorful Image',
  loading: 'eager',
}}
/>

<CallToAction
title="Misas por tu eterno descanso"
subtitle="Puedes solicitar que se celebren Misas a tu fallecimiento, por el eterno descanso de tu alma.Qué tranquilidad saber que se celebrarán Eucaristías por ti y qué satisfacción que puedas desde el cielo seguir sosteniendo a la Iglesia en el mundo. Contáctanos en: <br>+1 (980) 860-0772 <br>info@omnesgentesproject.com"
actions={[
  {
    variant: 'primary',
    text: 'Si, QUIERO SABER MAS',
    href: '/',
  },
]}
/>

<BgImagewithText
  backgroundImage="src/assets/images/misa03.jpeg"
  bgSize="100% 100%"
  bgOpacity="0.7"
  description='"Cuando la entrega generosa hacia los demás se vuelve el estilo de nuestras acciones, damos gracias al Corazón de Cristo y nuestro corazón se inflama”'
  description1=`Papa Francisco`
  />

</Layout>


