---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  🚀 {SITE?.name}
</span> 


<!-- <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 flex items-center text-30x10 md:text-xl font-bold text-gray-900 dark:text-white">
  <img src='OGPICON.jpg' class="h-12 mr-12" />
  <span class="flex flex-col">
    <span>{SITE?.name?.split(' ').slice(0, 2).join(' ')}</span> 
    <span>{SITE?.name?.split(' ').slice(2).join(' ')}</span> 
  </span> 
</span>  -->